@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
	.contentsContainer {
		display: flex;
		flex-wrap: wrap;

		.noteContainer {
			display: flex;
			flex-direction: column;
		}
	}

	.note-editor-mask {
		.note-editor-container {
			.note-editor {
				width: 50%;

				.note-theme {
					ul {
						li {
							padding: 1rem;
						}
					}
				}
			}
		}
	}
}
