html {
	box-sizing: border-box;
	height: 100%;
	cursor: default;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background: rgb(241, 241, 241);
	font-family: "Jua", "SUIT Variable", "Apple SD Gothic", "Open Sans",
		sans-serif;
	font-size: 1.1rem;
	color: #654b52;
	margin: 0;
	padding-top: 76px;
	height: 100%;
}

select {
	font-family: "SUIT Variable", "Apple SD Gothic", "Open Sans", sans-serif;
	font-weight: bold;
	// width: 100%;
	background-color: rgba(235, 235, 235, 0.4);
	color: #654b52;
	outline: none;
	border-radius: 3px;
	transition: all 0.5s ease;
	outline-color: #eb9f9f;
	// border-color: #654b52;
	border: none;
	border-bottom: 1px solid #654b527e;
	// box-shadow: 2px 0 4px rgba(126, 83, 83, 0.05),
	// 	0 2px 4px rgba(126, 83, 83, 0.05), 0 2px 8px rgba(126, 83, 83, 0.05),
	// 	0 5px 16px rgba(126, 83, 83, 0.05);
}

hr {
	border: 0px;
	height: 0.2px;
	background-color: #654b5252;
}

::placeholder {
	color: #7a6a6e;
	font-size: 0.4rem;
	text-align: center;
}

// 글자 선택시 밑배경
::selection {
	color: #fff;
	background-color: #654b52;
}

// 스크롤 설정
::-webkit-scrollbar {
	width: 4px;
}
::-webkit-scrollbar-thumb {
	background-color: #654b52;
	border-radius: 500px;
}

.text-shadow {
	// text-shadow: 0 2px 2px rgba(0, 90, 250, 0.05);
	text-shadow: 0 2px 2px rgba(235, 159, 159, 0.6);
}

.shadow {
	// box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.03);
	// box-shadow: 5px 10px 10px rgba(235, 159, 159, 0.05);
	// box-shadow: 5px 10px 7px rgba(235, 159, 159, 0.1);
	box-shadow: 0 2px 2px rgba(235, 159, 159, 0.05),
		0 4px 4px rgba(235, 159, 159, 0.05), 0 8px 8px rgba(235, 159, 159, 0.05),
		0 16px 16px rgba(235, 159, 159, 0.05);
}

// note editor open btn
.add-btn {
	padding: 5px 10px;
	margin: 20px;
	border: none;
	color: #000;
	outline: none;
	font-size: 10px;
	cursor: pointer;
}

// sub contents
.subContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0.6rem;
}

// main contents
.contentsContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
}
.todoToggle {
	display: none;
}
.noteContainer {
	width: 100%;
}

.delete {
	position: absolute;
	right: 25px;
	top: 25px;
}
